security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Domain\User\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        api_test:
            pattern: ^/api/v1/test
            stateless: true
            security: false

        admin_login:
            pattern: ^/api/v1/admin/auth/login
            stateless: true
            json_login:
                check_path: /api/v1/admin/auth/login
                username_path: email
                password_path: password
                success_handler: App\Infrastructure\Security\CustomAuthenticationSuccessHandler
                failure_handler: lexik_jwt_authentication.handler.authentication_failure

        refresh_admin:
            pattern: ^/api/v1/admin/auth/refresh$
            security: false

        login:
            pattern: ^/api/v1/auth/login
            stateless: true
            json_login:
                check_path: /api/v1/auth/login
                username_path: email
                password_path: password
                success_handler: App\Infrastructure\Security\CustomAuthenticationSuccessHandler
                failure_handler: lexik_jwt_authentication.handler.authentication_failure

        refresh_member:
            pattern: ^/api/v1/auth/refresh$
            security: false

        api:
            pattern: ^/api
            stateless: true
            provider: app_user_provider
            jwt: ~
            entry_point: App\Infrastructure\Security\JwtAuthenticationEntryPoint
            access_denied_handler: App\Infrastructure\Security\ApiAccessDeniedHandler

    access_control:
        - { path: ^/api/v1/auth/(login|register)$, roles: PUBLIC_ACCESS }
        - { path: ^/api/v1/auth/(refresh|logout)$, roles: ROLE_MEMBER }
        - { path: ^/api/v1/member, roles: ROLE_MEMBER }
        - { path: ^/api/v1/admin/auth/login, roles: PUBLIC_ACCESS }
        - { path: ^/api/v1/admin, roles: ROLE_ADMIN }
        - { path: ^/api, roles: PUBLIC_ACCESS }
