# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    jwt_secret: strong_secret_key_that_no_one_can_guess

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/Domain/*/Entity/'
            - '../src/Domain/*/ValueObject/'
            - '../src/Domain/*/Event/'
            - '../src/Domain/*/DTO/'
            - '../src/Domain/*/Service/'
            - '../src/Application/*/DTO/'
            - '../src/Infrastructure/Messaging/Message/'
            - '../src/Kernel.php'

    # Make sure RequestStack is available (should be automatic)
    Symfony\Component\HttpFoundation\RequestStack: ~

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    # Event Subscribers (correct namespace)
    App\Infrastructure\Event\Subscriber\ApiExceptionSubscriber:
        arguments:
            $debug: '%kernel.debug%'
        tags: ['kernel.event_subscriber']

    App\Infrastructure\Event\Subscriber\DomainExceptionSubscriber:
        tags: ['kernel.event_subscriber']

    App\Infrastructure\Event\Listener\JWTCreatedListener:
        tags:
            - { name: kernel.event_listener, event: lexik_jwt_authentication.on_jwt_created, method: onJwtCreated }

    # Security Handlers
    App\Infrastructure\Security\JwtAuthenticationEntryPoint:
        autowire: true
        autoconfigure: false

    App\Infrastructure\Security\ApiAccessDeniedHandler:
        autowire: true
        autoconfigure: false

    # Redis Service
    App\Infrastructure\Service\RedisService:
        arguments:
            $redisDsn: '%env(REDIS_DSN)%'

    # MongoDB Service
    App\Infrastructure\Service\MongoDBService:
        arguments:
            $mongodbUrl: '%env(MONGODB_URL)%'
            $mongodbDatabase: '%env(MONGODB_DATABASE)%'

    # JWT TTL configuration
    App\Application\User\Command\LoginHandler:
        arguments:
            $jwtTtl: '%env(int:JWT_TTL)%'

    # Bind Domain Repository Interfaces to Infrastructure Implementations #

    # User Domain
    App\Domain\User\Repository\UserRepositoryInterface:
        class: App\Infrastructure\Persistence\Doctrine\Repository\UserRepository

    # Admin Domain
    App\Domain\Admin\Repository\AdminProfileRepositoryInterface:
        class: App\Infrastructure\Persistence\Doctrine\Repository\AdminProfileRepository

    App\Domain\Admin\Repository\AdminAccessLogRepositoryInterface:
        class: App\Infrastructure\Persistence\Doctrine\Repository\AdminAccessLogRepository

    # Member Domain
    App\Domain\Member\Repository\MemberProfileRepositoryInterface:
        class: App\Infrastructure\Persistence\Doctrine\Repository\MemberProfileRepository

    App\Domain\Member\Repository\MemberAccessLogRepositoryInterface:
        class: App\Infrastructure\Persistence\Doctrine\Repository\MemberAccessLogRepository

    # WorkEntry Domain
    App\Domain\WorkEntry\Repository\WorkEntryRepositoryInterface:
        class: App\Infrastructure\Persistence\Doctrine\Repository\WorkEntryRepository
